{% extends "main.html" %}

{% block style %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      min-width: 24rem !important;
      width: 100% !important;
      padding: 1.2rem 1.5rem !important;
      border-radius: 0.5rem !important;
      border: 2px solid var(--color-light) !important;
      transition: all 0.3s ease-in-out !important;
      background-color: var(--color-bg) !important;
    }
    
    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
      outline: none !important;
      border: 2px solid var(--color-main) !important;
    }    
</style>

{% endblock style %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h2>Password reset</h2>
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                <br>

                <form class="form" method="POST">
                    <!-- Input:Text -->
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}